body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1,
.head-title {
    margin: 0;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

h2 {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

h3 {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 120px 0;
}

/*   HEADER   STYLES   */
.header-placement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header {
    background-color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #404bbf;
    padding: 24px 0;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-accent {
    color: #2e2f42;
}

.header-list {
    display: flex;
}

.navigation{    
    display: flex;
    align-items: center;
}

.menu-nav {
    display: inline;
    /* padding: 24px 0; */
}
.menu-nav:not(:last-child) {
    margin-right: 40px;
}

.menu-item {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-ws {
    font-style: normal;
}

.contact {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item:hover,
.menu-item:focus,
.contact:hover,
.contact:focus {
    color: #404bbf;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item.current {
    position: relative;
}

.current {
    color: #404bbf;
}

.menu-item.current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: #404bbf;
}

.menu-nav .current::after {
    color: #404bbf;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*   WELCOME   PAGE   */
.main-page {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding: 188px 0;
}

.head-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.main-page-btn {
    color: #fff;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-page-btn:hover,
.main-page-btn:focus {
    background-color: #404bbf;
}

/*   OPPORTUNITIES   */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.feature-item{    
    width: calc((100% - 3*24px) / 4);
}

.feature-img {
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    max-width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-title {
    color: #2e2f42;
    margin-bottom: 8px;
}

.feature-dscr {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em
}

/*   TEAM   */
.team-section {
    background-color: #f4f4fd;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.card {
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    /*width: 264px;*/
}

.card-img {
    margin: 0 auto;
}

.card-content {
    padding: 32px 0;
}

.card-name {
    text-align: center;
    margin-bottom: 8px;
}

.card-dscr {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 8px;
}

.social-links,
.social-links-ftr {
    display: flex;
    gap: 24px;
    flex-shrink: 0;
    align-self: baseline;
    justify-content: center;
}

.social-links .link,
.social-links-ftr .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
}

.soc-link .link{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .link:hover,
.social-links .link:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
    fill: #f4f4fd;
}

.social-links .link:hover .icon {
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-title,
.portfolio-title {
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
}

/*   PORTFOLIO   */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-wrap{
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-card-title {
    margin-bottom: 8px;
}

.portfolio-card-cont {
    width: 360px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-cont:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-img {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-cont:hover .overlay,
.portfolio-card-cont:focus .overlay,
.portfolio-img:hover .overlay,
.portfolio-img:focus .overlay {
    font-size: 16px;
    width: 100%;
    height: 100%;
    transform: translateY(0);
}

.portfolio-dscr {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*   FOOTER   */
.end-section > .container {
    display: flex;
    /* gap: 120px; */
    align-items: baseline;
}

.end-section {
    background-color: #2e2f42;
    padding: 100px 0;
}

.ftr-logo {
    margin-right: 120px;
}

.logo-end {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

.ftr-links {
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.social-links-ftr {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

.social-links-ftr .link:hover,
.social-links-ftr .link:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form {
    display: flex;
    gap: 24px;
}

.ftr-form-label {}

.mail-form {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-left: auto;
}

.input-ftr-wrap {
    display: flex;
    gap: 16px 24px;
}

.form-input {
    width: 264px;
    height: 40px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding: 8px 16px;
    /* padding-left: 16px; */
    flex-direction: column;
    outline: none;
}

.form-input::placeholder {
    color: #fff;
}

.form-input:focus {
    border: 1px solid #31d0aa;
}

.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;    
    min-width: 165px;
    height: 40px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-btn {
    margin-left: 16px;
    fill: #fff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: #31d0aa;
}


/*   MODAL WINDOW   */
.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    /* display: flex;
    justify-content: center;
    align-items: center; */

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fcfcfc;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    width: 408px;
    min-height: 584px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 0;
    top: 24px;
    right: 24px;
    color: #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close:hover .close,
.modal-close:focus .close {
    fill: #fff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-bottom: 16px;
    color: #2e2f42;
}

.modal-form {}

.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    color: #8e8f99;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    color: #2e2f42;
    padding-left: 38px;
    padding-right: 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:hover {
    border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon {
    fill: #4d5ae5;
}

.modal-text {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    padding-right: 16px;
    outline: transparent;
    padding: 8px 16px;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-text:hover,
.modal-text:focus {
    border-color: #4d5ae5;
}

.modal-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
    margin-bottom: 16px
}

.input-wrap {
    position: relative;
    margin-bottom: 8px;
}

.modal-chek {
    margin-bottom: 24px;
}

.modal-chek-text {
    /* display: inline-flex; */
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-chek-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    background-color: #fff;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-item {
    /* display: inline-flex; */
}

.modal-chek:checked + .modal-chek-text .modal-chek-item {
    border: none;
    background-color: #404BBF;
    fill: #f4f4fd;  
}

.privacy-policy {
    padding-left: 4px;
    text-decoration: underline;
    color: #4d5ae5;
}